<nav>
  <a href="/recipes">All Recipes</a>
  <a href="/my-recipes">My Recipes</a>
  <a href="/recipe/new">Add Recipe</a>
  <form action="/logout" method="POST" style="display: inline;">
    <button type="submit">Logout</button>
  </form>
</nav>
